
/* Header */

.header{
    background-color:#051937f8;
}

.barra{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.logo h2{
    font-family: 'Press Start 2P', cursive;
    color: yellow;
}

.navegacion a{
    font-family: 'Montserrat Alternates', sans-serif;
    color: #e2e288;
    font-size: 3rem;
    margin-right: 4rem;
    margin-left: 1rem;
}
.navegacion a:hover{
    color: white;
}

.actived a{
    
    color: white;
}
.navegacion{
    display: flex;
    justify-content: space-between;
}

.entrada-link{
    display: flex;
    align-items: center;
    margin-left: 0;
}