.header{
    background-color:#051937f8;
}

.barra{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo h2{
    color: yellow;
    font-family: 'Press Start 2P', cursive;
}

.navegacion a{
    color: #e2e288;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 3rem;
    margin-right: 3rem;
}
.navegacion a:hover{
    color: white;
}

.navegacion{
    display: flex;
    justify-content: space-between;
}

.entrada-link{
    align-items: center;
    display: flex;
    margin-left: 0;
}