<header class="header">
    <div class="contenedor">
        <div class="barra">
            
            <a routerLink="/" class="logo">
                <h2> VideoJuegos </h2>
            </a>

            <nav class="navegacion">
                
                    <a routerLink="/" routerLinkActive="actived" [routerLinkActiveOptions]="{exact:true}">Listado</a>
                
                    <a routerLink="/agregar" routerLinkActive="actived" >Agregar</a>
            
                    <a routerLink="/buscar" routerLinkActive="actived" >Buscar</a>
                
            </nav>
        </div>
    </div>
</header>